@model IEnumerable<Biblioteca.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header bg-light d-flex justify-content-between align-items-center">
        <h4 class="mb-0">Clientes</h4>
        <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Nuevo Clientes</a>
    </div>
    <div class="card-body">
        
        <div class="row gy-4">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="card h-100 shadow-sm border-0">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="avatar-placeholder d-flex align-items-center justify-content-center">
                                    <i class="fa-regular fa-user fa-xl"></i>
                                </div>

                                <div class="ms-3">
                                    <h5 class="fw-bold mb-0">@Html.DisplayFor(modelItem => item.Nombre) @Html.DisplayFor(modelItem => item.Apellido)</h5>
                                    <p class="text-muted small mb-2">Usuario: @Html.DisplayFor(modelItem => item.UsuarioLogin)</p>
                                    <div>
                                        <a href="#" data-id="@item.UsuarioId" class="text-decoration-none text-secondary small me-3 btn-see-recurso">Ver</a>
                                        <a asp-action="Edit" asp-route-id="@item.UsuarioId" class="text-primary text-decoration-none small me-3">Editar</a>
                                        <a asp-action="Edit" asp-route-id="@item.UsuarioId" class="text-danger text-decoration-none small">Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>





<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="infoModalContent">
        </div>
    </div>
</div>

<script>
    var url = '@Url.Action("Details", "Clientes")';
</script>