@model IEnumerable<Biblioteca.Models.Reserva>
@inject Biblioteca.Repositorios.IServicioSesion Sesion
@inject Biblioteca.Repositorios.IServicioAutenticacion Auth
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
    ViewData["Title"] = "Index";
    var numeroI = 0;
}

<div class="card">
    <div class="card-header bg-light d-flex justify-content-between align-items-center">
        <h4 class="my-2">Reservas</h4>

        <a asp-action="registrar" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Nueva reserva</a>

    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table-striped table">
                        <thead>
                            <tr>
                                <th width="5%">#</th>
                                <th width="20%">Recurso</th>
                                <th width="20%">Cliente</th>
                                <th width="20%">Fecha de solicitud</th>
                                <th width="17.5%">Estado</th>
                                <th width="17.5%">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(++numeroI)</td>
                                        <td>@item.recurso_titulo</td>
                                        <td>@item.usuario_nombre</td>
                                        <td>@item.fechaReserva.ToShortDateString() al @item.fechaExpiracion</td>
                                        <td>@item.estado</td>
                                        <td>
                                            <a href="#" class="btn-outline-secondary btn btn-sm">Ver</a>
                                            <a href="#" class="btn-outline-warning btn btn-sm">Editar</a>
                                            <a href="#" class="btn-outline-danger btn btn-sm">Eliminar</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

