@model Biblioteca.Models.Recursos

<div class="modal-header">
    <h3 class="modal-title" id="infoModalLabel">Recurso</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <p class="h1 text-black">@Model.tipo_recurso: @Model.titulo</p>
    <p class="h5">@Model.subtitulo</p>
    <ul class="list-unstyled mt-3 mb-4">
        <li><strong>Año:</strong> @Model.ano_publicacion</li>
        <li><strong>Edición:</strong> @Model.edicion</li>
    </ul>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
</div>