@model Biblioteca.Models.Recursos

@{
    ViewData["Title"] = "ListDetails";
}

<h1>ListDetails</h1>

<div>
    <h4>Recursos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subtitulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subtitulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ano_publicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ano_publicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.edicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.edicion)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
